/* if u want to edit a perticular class come here*/
@import 'utilities.css';

/* root has all colors I used*/
:root
{                 
    --primary:#3740e9;
    --secondary:#008040;
    --backColorDark:#021a30;
    --textWhite: #ffffff;
    --textGray:#cccccc;
    --backcolorLight:#f2f2f2;
    

}
body
{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}
}
html
{
    scroll-behavior: smooth;
}
*{
    padding:0;
    margin:0;
    margin-top: -0.5rem;
    box-sizing: border-box;
   
}
#particles-js
{
    height: 100%; 
    background:var(--backColorDark);
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/stars2.jpg);
    height: 750px;
    /*clip-path:polygon(0 0,100% 0,100% 100%,60% 90%, 0 100%);*/
}


.container
{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
    
}
/* this header is for  text design (left i.e home about me...)*/
header nav .left a{
    color:var(--textWhite);
    text-decoration: none;
    margin-right: 2rem;
    transition: all.3s ease;
}
.for-particle
{
    position: absolute;
   
}

header nav .left a:hover
{
    color:var(--primary)
}

header nav
{
    padding:2rem 0;
}

header nav .Potfolio
{
    margin-right:3rem;
}
.navTitle
{
    margin-left: 2rem;
    margin-top: 1rem;
}



/* =========================== ANuj MOre======================================================================================================================*/
.Me .leftImg img
{
    width:400px;
    margin-right: 5rem;
    color: #021a30;
   
    
}
.Me .rightText
{
    margin-top: 10rem;
    color:var(--textWhite);
    margin-left: 20rem;
}
.Me .rightText p
{
    text-align: left;
    margin-right: 3rem;
}
.Me .rightText h1
{
    font-size:4rem;
    position: relative;
    color:#008040;
    margin-bottom: 0.5rem;
    -webkit-text-stroke: 0.3vw  #008040;
}
.Me .rightText h1::before
{
    content: attr(data-text);
    position:absolute;
    width: 100%;
    height: 100%;
    color:  #031057;
    -webkit-text-stroke: 0vw #008040 ;
    border-right: 5px solid #008040;
    overflow:hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}

.Me .rightText h2
{
    font-size: 1.8rem;
    font-weight: 100;   
}
.Me .rightText h2 span
{
    color:var(--secondary)
}



/* ===========================================================================================================================================*/
section
{
    height: 700px;
}
.about_me
{
    margin-top: 1rem;
}
.about_me .leftImg2 img
{
    width: 300px;
    margin-top: -15rem;
    margin-left: 9rem;
    
}
.about_me .rightText2
{
    margin-left: 33rem;
    margin-top: -25rem;
    
}
.about_me .rightText2 h1
{
    font-size: 2rem;
}
.about_me .rightText2 h1 span
{
    color:#00e600
}
.about_me .rightText2 h2
{
    margin-top: 0rem;
    font-weight: 100;
}
.about_me .social_media .fab
{
    font-size: 40px;
    margin-left: 0.5rem;
}
.about_me .fab:hover
{
    color:#ff3300;
    font-size: 50px;
}
#particles2-js
{
    height: 100%;   
    width: 100%;
}
.for-particle2
{
    position: absolute;
    padding: 1rem;
}


/* =============================================================================================================================================*/
section.my_skills 
{
    background: #f2f2f2;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/balls.jpg);
    height: 700px;
    clip-path:polygon(0 0,80% -20%,100% 0,100% 100%,30% 90%, 0 100%);
}

section:before
{
    content: "";
    bottom: 0;
    background: linear-gradient(to top,#f2f2f2,transparent);
    z-index: 10000;
}
.my_skills  h1
{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 5rem; 
    color: white;
}
.my_skills  h1 span
{
    color:#00e600
}
.my_skills p
{
    text-align:center;
    margin-bottom: 8rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
}
.my_skills .p3
{
    color: white;
}
.my_skills .card  h2
{
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 1rem;
}
.my_skills .card-wrap
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:2rem ;
    height: 200px;
}
@media(max-width:600px){
.card
{
    display: block;
}
}
.my_skills .card-wrap .card
{
    background:white;
    padding: 3rem,5rem;
    position: relative;
    border-radius: 10px;
}
.my_skills .card-wrap .card:hover
{
    background: #10024e ;
    color:white;
    transition: all .3s;
}
.my_skills .card-wrap .fas
{
    color: #ff0000;
    font-size: 100px;
    position: absolute;
    top:-2rem;                  /* this  and positon are the reason y icon is half above the card */
    left:50%;
    transform: translateX(-50%);  
    transition: all 0.7s ease-in-out;
}
.my_skills .card-wrap .fas:hover
{
    color: #008040;
    transform: rotate(45deg);
}

/*====================================================languages======================================================================*/
section.lang
{
    height: 600px;
}
.lang .Text
{
    text-align: center;
    margin-bottom: 18rem;
    
}
.lang  h1
{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem; 
    color:black;
    padding: auto;
}

.lang  h1 span
{
    color:#00e600
}

.lang .graphDesign
{
    margin-top: 1rem;
    box-sizing: border-box;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:20px;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../images/stars2.jpg);
    
}

.lang .graph
{
  margin-bottom: 1rem;
  color: white;
 letter-spacing: 1px;
}
.lang .graph p:nth-child(2)
{
    float: right;
    position: relative;
    top: -1rem;
}
.lang .graph .graph2                                     /* this is the code to make green graph*/
{
    background:var(--secondary) ;
    margin-top: 1rem;
    padding: 1px;
    box-sizing: border-box;
    border-radius: 7px;
    border:1px solid black
}
.lang .graph .graph2-lvl
{
    background:#00e600 ;
    width: 100%;
    height: 10px;
    border-radius: 7px;
    margin-top: 0.001rem;
    
    
}


#particles3-js
{
    height: 100%; 
    height: 200px;
    width: 100%;
}
.for-particle3
{
    position: relative;
    padding: 1rem;
}

/*=========================================== Work exp ===================================================================================*/
section.work
{
    height: 1000px;
    background: cornsilk;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/stars2.jpg);
    clip-path:polygon(0 0,80% -20%,100% 0,100% 100%,30% 90%, 0 100%);
}
.work .Text
{
    margin-top: 10rem;   
}
.work h1
{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 18rem;  
    color: white;
}
.work p
{
    text-align: center;
    color: white;
    margin-bottom: 1rem;
    
}
.work .para
{
    margin-left: 18rem;
}
.work h1 span
{
    color:#00e600;
}
.work .Text2 h2
{
    color: white;
    text-align:left;
    margin-top: 5rem;
   margin-bottom: 1.7rem; 
}
.work .Text2 p
{
    color: white;
    text-align:left;
    margin-bottom: 1rem;
    
}
.work .Text2 p span
{
    color:#00e600;
}   
/*==================================================Project ==============================================================================*/
section.projects
{
    height: 1600px;
}
.projects .Text
{
    margin-top: 1rem;
    margin-bottom :5rem; ;
      
}
.projects h1
{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem; 
    
}
.projects .para
{
    text-align: center;
    margin-bottom: 6rem;
   
}
.projects h1 span
{
    color:#00e600;
}
.projects .image
{
    width: 100%;
}
.projects .card
{
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 3rem;
    background: rgb(208, 207, 209);

}
.projects .card p
{
    margin-bottom: 1rem;
}
.projects .card-body
{
    margin-left: -7rem;
    margin-top: 1rem; 
}
.projects .card-title
{
    margin-bottom: 1rem;
    font-size: 25px;
}
.projects .fab
{
    color: white;
    font-size: 30px;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.projects .fab:hover
{
    color: var(--backColorDark);
    font-size: 35px;
}
/* =======================================================================================================================================*/

section.contact-me
{
    height: 900px;
    background: rgb(238, 236, 236);
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/stars2.jpg);
}
.contact-me .Text2
{
    text-align: center;
    
}
.contact-me h1
{
    
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 9rem;  
    color: white;
}
.contact-me h1 span
{
    color:#00e600;
}
.contact-me p
{
    text-align: center;
    color: white;
    margin-bottom: -1rem;
}
.contact-me h2
{
    font-weight: 100;
    color: #ffffff;
}
.contact-me h3
{
    font-weight: 100; 
    color: rgb(145, 142, 142);
    margin-bottom: 5rem;
}
.contact-me .card-wrap 
{
    display: grid; 
    align-items: center;

}
.contact-me .card-wrap .card
{
    text-align: center;
    margin-top: 3rem;
}
.contact-me .card-wrap .fas
{
    font-size: 50px;
    margin-bottom: 1rem;
    color: #ffffff;
}
.contact-me .card-wrap .fas:hover
{
    color: rgb(226, 35, 35);
}
.contact-me .user-input
{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 2rem;
}
.contact-me .user-input input
{
    font-size: 1rem;
}
.contact-me .user-input2
{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.contact-me input
{
    padding: 0.7rem 1rem;
}
.contact-me .user-input2 input
{
    margin-bottom: 1rem;
    font-size: 1rem;
}
.contact-me .user-input2 textarea
{
    padding: 0.7rem 1rem;
    font-size: 1.5rem;
}
.contact-me .   3
{
    margin-top: 1rem;
    color: white ;
    background:#2f025c ;
    border-radius: 40px;
    width: 5rem;
}
.contact-me .button3:hover
{
    color:#2f025c ;
    border-color:#2f025c ;
    transition: all .3s ease;
    background: white;
    
}
.contact-me .ending
{
    text-align: center;
    margin-top: 2rem;
    color: white;
    font-size: 1.5rem;
}
.contact-me .ending2
{
    text-align: center;
    margin-top: 1rem;
    color: white;
    font-family: bold;
    letter-spacing: 1rem;
}

/*
.box-area
{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    overflow:hidden;

}
.box-area li
{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,255,0.2);
    animation: animate 20s linner infinite;
}
.box-area li:nth-child(1)
{
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2)
{
    left: 16%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
*/