/* rather than typing all the code over again we just create a utitliy and use the name again
this is like functions
*/

/*wherever u mention design1 all feactures of it will be shown*/
.Design1{
    display:flex;
}
.Design2{
    align-items:center;
    justify-content:space-between;

}
.button
{
    padding: 0.7rem 0.9rem;
    font-size: 1rem;
    font-weight: 600;
    border:2px solid transparent;
    outline-color: black;
    cursor:pointer;
    border-radius: 40px;
    padding:1rem ;
    text-decoration:none;
}
.a
{
    text-decoration:none;
}
.button:hover
{
    background:transparent;
    border-color:var(--primary);
    color:var(--primary);
    transition: all .3s ease;
}

.button2
{
    background:var(--secondary);
    margin-right: 2rem;
    margin-top: 2rem;
    
    
}

.button2:hover
{
    background:transparent;
    border-color:var(--primary);
    color:var(--primary);           /*this is for changing  text  color after hover*/
    transition: all .3s ease;
    
}
.paragraph
{
    margin-top: 1rem;
    margin-bottom:3rem;
    line-height: 1.9;
}
.pre-para
{
    margin-bottom: 2rem;
    margin-top: 1rem;
    position: relative;
    line-height: 1.9;
}